[submodule "public"]
	path = public
	url = git@github.com:patux/patux.github.io.git
	branch = master
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
