{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ range .Paginator.Pages.ByPublishDate.Reverse }}
<p>
  <a class="font-125" href="{{ .Permalink }}">{{ .Title }}</a>
  <br>
  {{ partial "date-and-tags.html" . }}
</p>
{{ end }}
<br>
<center>
{{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">   <i data-feather="arrow-left-circle" width="48" height="48" stroke-width="1.5"></i></a>
{{ end }}
{{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">   <i data-feather="arrow-right-circle" width="48" height="48" stroke-width="1.5"></i></a>
{{ end }}
</center>
{{ end }}